.header{
    color: #ffffff;
    position: relative;
    top: 21px;
    font-size: x-large;
}

.prof{
    text-align: right;
    margin: auto;
    padding: 20px 15px;
}
h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
.header:focus,.header:hover{
    text-decoration: none;
    color: #ffffff;
}
.Navigationmenu{
    background: #3b5998;
    height: 90px;
    display: -webkit-box;
}
.profimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 0px;
}
a:focus,a:hover{
    text-decoration: none;
    color: #ffffff;
}
/*dropdown*/
.dropdown {
    float: right;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/*row-2*/
.row1{
    padding: 20px;
}
.textbox{
    resize: none;
    width: 100%;
    border: 1px solid black;
}
.text-content,.text-content2,.text-content3,.text-content4 {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    left: 15px;
    overflow: auto;
    background: none;
    z-index: 1;
}
.textw{
    max-width: 483px;
}
.AddText{
    position: absolute;
    background: green;
    border-radius: 50%;
    outline: none;
    border: none;
    color: #fff;
}
.drag1,.drag2,.drag3,.drag4{
    width: 100%;
    min-height: 72px;
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}
.drag1{color:green}
.drag2{color:orange}
.drag3{color:blue}
.drag4{color:red}
